body{
  background-image: url(../img/top-view-delicious-spaghetti-with-copy-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    
    
}
#img{
    border-radius: 30px;
}
#just{
    margin-left: 32%;
}

#Rname{
    position: absolute;
   top: 50px;
    color:darkgoldenrod;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-decoration: underline;
  
}
#r{
    position: relative;
    left: 200px;
    top: 38px;
    color: blue;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    
}
#table{
    border-style: outset ;
    border-radius: 20px;
   margin-left: 35%;

   border-color: aquamarine;
   background-color:grey;
   
    background-size: cover;
}

#table:hover{
    background-color: aliceblue;
    cursor: pointer;
}


#create{
    font-size: xx-large;
    margin-top: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#easy{
    color:brown;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}
 label{
   margin-left: 5px;
    color: blue;
    font-size: 20px;
 }
 #show input{
    margin-top: 7px;
    text-indent: 5px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
 }
#k button{
 background-color:aliceblue;
 padding: 10px 25px;
 margin-top: 7px;
 margin-left: 20px;
 border-radius: 5px;


}

#sign{
    border-radius: 20px;
    font-size: larger;
    font-weight: 900;
    color: aliceblue;
    padding: 20px 80px;
    margin-left: 25%;
    margin-bottom: 20px;
    background-color:rgb(115, 185, 10);
    cursor: pointer;
}

p{
    color: red;
}
#BH{
   font-size: x-large;
   position: absolute;
   left: 66%;
   top: 30%;
   color: aliceblue;
    
}
#b{
    
    color:chartreuse;
    text-decoration: underline dotted;

}

